*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-image: url('https://cdn.hipwallpaper.com/i/93/37/RzcDxK.jpg');
}
h1,
h2{
  background-color: rgba(255, 255, 255, 0.53);
  border-radius: 10px;
}
h2{
  margin-top: 15px;
}

.top,
#risultati{
  width: 1000px;
  margin: 40px auto;
  padding: 30px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Two_red_dice_01.svg/1200px-Two_red_dice_01.svg.png');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 6px black;
}

.pulsante{
  margin-top: 40px;
}

.btn{
  padding: 10px 30px;
  border: 3px solid green;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  color: green;
  text-transform: uppercase;
}

.btn:hover{
  cursor: pointer;
}

#risultati{
  width: 500px;
  font-size: 20px;
  background-image: none;
}

.blue{
  color: blue;
}

.green{
  color: green;
}

.red{
  color: red;
}

.hidden{
  opacity: 0;
}

.show{
  opacity: 1;
}
